{namespace solrgeo=TYPO3\Solrgeo\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<f:if condition="{resultDocuments -> f:count()} > 0">
		<f:then>

			<div id="tx-solr-search-functions">
				<div id="tx-solrgeo-distance">

					<solrgeo:distanceFilter
						showDistanceFilter="{showDistanceFilter}"
						linkUrl="{linkUrl}"
						keyword="{keyword}"
						defaultDistance="{defaultDistance}"
						configuredDistanceRanges="{configuredDistanceRanges}"
						currentRange="{currentRange}"
						language="{language}" />

					<f:if condition="<f:count subject='{cityFacetResults}' /> > 0">
						<div class="secondaryContentSection">
							<div class="csc-header">
								<h3 class="csc-firstHeader"><f:translate key="LLL:EXT:solrgeo/Resources/Private/Language/locallang_search.xml:tx_solrgeo.location"></f:translate></h3>
							</div>
							<ul>
							<f:for each="{cityFacetResults}" as="cityFacetResult">
								<li>
									<a href="{cityFacetResult.url}">
										<f:if condition="{0:cityFacetResult.city} == {0:'{keyword}'}">
											<f:then>
												<strong>{cityFacetResult.city} ({cityFacetResult.numFound})</strong>
											</f:then>
											<f:else>
												{cityFacetResult.city} ({cityFacetResult.numFound})
											</f:else>
										</f:if>
									</a>
								</li>
							</f:for>
							<ul>
						</div>
					</f:if>
					<f:if condition="<f:count subject='{countryFacetResults}' /> > 0">
						<div class="secondaryContentSection">
							<div class="csc-header">
								<h3 class="csc-firstHeader"><f:translate key="LLL:EXT:solrgeo/Resources/Private/Language/locallang_search.xml:tx_solrgeo.country"></f:translate></h3>
							</div>
							<ul>
								<f:for each="{countryFacetResults}" as="countryFacetResult">
									<li>
										<a href="{countryFacetResult.url}">
											<f:if condition="{0:countryFacetResult.country} == {0:'{countryKeyword}'}">
												<f:then>
													<strong>{countryFacetResult.country} ({countryFacetResult.numFound})</strong>
												</f:then>
												<f:else>
													{countryFacetResult.country} ({countryFacetResult.numFound})
												</f:else>
											</f:if>
										</a>
									</li>
								</f:for>
								<ul>
						</div>
					</f:if>
				</div>
			</div>

			<div id="tx-solr-search">

				<f:if condition="{searchHasResults}">
					<div id="map-canvas"></div>
					<solrgeo:javascriptInlineSetting namespace="dkd.solrgeo" array="{dataForGoogleMaps}" />
					<solrgeo:javascriptInlineSetting namespace="dkd.solrgeo.location" array="{currentGeolocation}" />
					<solrgeo:javascriptInlineSetting namespace="dkd.solrgeo.zoom" key="zoom" value="{zoom}" />
				</f:if>

				<div class="tx-solrgeo-search-form">
					<f:form id="tx-solr-search" action="search" controller="Search" class="form-search" enctype="multipart/form-data">
						<f:form.textfield name="q" value="" class="tx-solr-q" value="{keyword}"  />
						<f:form.hidden name="L" value="{language}" />
						<f:form.submit name="mySubmit" value="<f:translate key=\"LLL:EXT:solrgeo/Resources/Private/Language/locallang_search.xml:tx_solrgeo.search_btn\" />" class="tx-solr-submit" />
					</f:form>
				</div>

				<div id="result-container" class="result-wrapper">
					<ol class="results-list">
					<f:for each="{resultDocuments}" as="resultDocument">
						<div class="result">
							<solrgeo:result resultDocument="{resultDocument}" maxLength="200" />
						</div>
					</f:for>
					</ol>
				</div>
			</div>
		</f:then>

		<f:else>
			<div class="result">
				<h3><f:translate key="tx_solrgeo.no_results_nothing_found" />"{keyword}".</h3>
			</div>
		</f:else>

	</f:if>

</f:section>