{namespace solrgeo=TYPO3\Solrgeo\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<f:if condition="{resultDocuments -> f:count()} > 0">
		<f:then>

			<div id="tx-solr-search-functions">
				<div id="tx-solrgeo-distance">
					<solrgeo:distanceFilter keyword="{keyword}" defaultDistance="{distance}" distanceFilter="{distanceFilter}"/>
				</div>
			</div>
			<div id="tx-solr-search">

				<div class="tx-solrgeo-search-form">
					<f:form id="tx-solr-search" action="search" controller="Search" class="form-search" enctype="multipart/form-data">
						<f:form.textfield name="q" value="" class="tx-solr-q" value="{keyword}"  />
						<f:form.hidden name="L" value="0" />
						<f:form.submit name="mySubmit" value="<f:translate key=\"LLL:EXT:solrgeo/Resources/Private/Language/locallang_search.xml:tx_solrgeo.search_btn\" />" class="tx-solr-submit" />
					</f:form>
				</div>

				<div id="result-container" class="result-wrapper">
					<ol class="results-list">
					<f:for each="{resultDocuments}" as="resultDocument">
						<div class="result">
							<solrgeo:result resultDocument="{resultDocument}" maxLength="200" />
						</div>
					</f:for>
					</ol>
				</div>
			</div>
		</f:then>

		<f:else>
			<div class="result">
				<h3><f:translate key="tx_solrgeo.no_results_nothing_found" />"{keyword}".</h3>
			</div>
		</f:else>

	</f:if>

</f:section>