<label for="address">
	<f:translate key="tx_solrgeo_domain_model_location.address" />
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="zip">
	<f:translate key="tx_solrgeo_domain_model_location.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="region">
	<f:translate key="tx_solrgeo_domain_model_location.region" />
</label><br />
	<f:form.textfield property="region" /><br />
<label for="country">
	<f:translate key="tx_solrgeo_domain_model_location.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="city">
	<f:translate key="tx_solrgeo_domain_model_location.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="geolocation">
	<f:translate key="tx_solrgeo_domain_model_location.geolocation" />
</label><br />
	<f:form.textfield property="geolocation" /><br />