<table class="tx-solrgeo" >
	<tr>
		<td>
			<f:translate key="tx_solrgeo_domain_model_location.address" />
		</td>
		<td>
			{location.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrgeo_domain_model_location.zip" />
		</td>
		<td>
			{location.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrgeo_domain_model_location.region" />
		</td>
		<td>
			{location.region}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrgeo_domain_model_location.country" />
		</td>
		<td>
			{location.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrgeo_domain_model_location.city" />
		</td>
		<td>
			{location.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_solrgeo_domain_model_location.geolocation" />
		</td>
		<td>
			{location.geolocation}
		</td>
	</tr>
</table>