.tx-solrgeo-search-form {
	background-color: #F2F2F2;
	border: 1px solid #CFCECF;
	margin-bottom: 10px;
	padding: 10px;
	height: 55px;
}

textarea.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

input.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

.tx-solrgeo table {
	border-collapse:separate;
	border-spacing:10px;
}

.tx-solrgeo table th {
	font-weight:bold;
}

.tx-solrgeo table td {
	vertical-align:top;
}

#result-container {
	margin-top: 20px;
}

#map-canvas {
	height:350px;
	width:100%;
}

.tx-solrgeo-search-form #tx-solr-search {
	float:left;
	width:100%;
}
#tx-solr-search .results-list {
	padding-left: 0;
}

#tx-solrgeo-distance li {
	list-style-type: none;
}

li.default-distance-range {
	margin-bottom: 10px;
}
li.facets-remove-all {
	margin-top: 10px;
}

div.results-teaser p.result-address {
	font-size: 100%;
	font-weight: bold;
	color: #000;
	padding: 0;
}